body , html{
    /* background: url("../images/IMG_1663.JPG"); */
    /* background: url("../images/pic1.jpg"); */
    /* background: url("../images/pic2.JPG"); */
    /* background: url("../images/pic3.jpG"); */
    /* background: url("../images/pic4.jpG"); */
    /* background: url("../images/pic12.jpG"); */





    /* background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    /* height:100%; */

    background-color: black;

    font-family: 'Hanalei Fill', cursive;
	font-size: 20px;
    font-style: bold;
   
}
footer{
    position: fixed;
    bottom: 0px;

}

#header {
    position: fixed;
    top: 50px;
    font-size: 50px;
    /* color: #002fa7; */
    color: blue;
    font-style: bold;
    font-weight: 1000;
}

#home{
    /* background: url("../images/IMG_1663.JPG");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; */
    /* height:100px; */

    
}

.card {
    background-color:#343a40;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.projBox{
    display:flex;
    position:relative;
    left:10vw;
    top:10vh;
    flex-direction: column;
    margin-bottom:10%;
    height:auto;
    width:50%; 
    background-color: black;
}